body {
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #F3F4F7;
  }
  
  h1 {
    margin left: 0;
    font-size: 1.5rem;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .settings-button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    color: #333;
  }
  
  /* Контейнер для основного экрана */
  #mainScreen {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Сетка для групп */
  .categories-container {
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  /* На широких экранах — 3 колонки */
  @media (min-width: 1440px) {
    .categories-container {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1440px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  
  /* На экранах среднего размера — 2 колонки */
  @media (max-width: 729px) and (min-width: 500px) {
    .categories-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* На маленьких экранах — 1 колонка */
  @media (max-width: 499px) {
    .categories-container {
      grid-template-columns: 1fr;
    }
  }
  
  
  .category-box {
    background-color: #fff;
    border-radius: 30px;
    padding: 30px;
  }
  
  .category-box h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .category-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .category-row label {
    margin-right: 10px;
    font-size: 0.9rem;
    width: 120px;
  }
  
  .category-row input {
    width: 50px;
    padding: 3px;
    text-align: center;
  }
  
  /* Блок кнопок и итогового времени */
  .actions {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
  }
  
  .actions button {
    padding: 8px 16px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  #totalTime {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  /* Экран настроек */
  #settingsScreen {
    display: none; /* по умолчанию скрыт */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #settingsScreen h2 {
    margin-top: 0;
  }
  
  .settings-category {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }
  
  .settings-category h3 {
    margin-top: 0;
    font-size: 1rem;
  }
  
  .settings-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  .settings-row label {
    width: 150px;
    font-size: 0.9rem;
  }
  
  .settings-row input {
    width: 60px;
    padding: 3px;
    margin-right: 20px;
  }
  
  .settings-actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
